body{
    font-family :Arial;
    background-color : wheat ;

}

header{
    color : white;
    padding : 10px;
    text-align : center;
}

li {
    
    margin: 10px 0; 
    padding: 10px; 
    border-radius: 5px;
    
    
}

img {
    border-radius: 5px; 
    margin-bottom: 5px; 
}
